.Input {
    width: 100%;
    height: 40px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgb(247, 243, 243);
    font: inherit;
    font-size: 12px;
    padding: 6px 10px;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
}
